# tasks file for ssh-keys
---
- name: add public keys
  copy:
    src: "{{ item.src }}"
    dest: "~{{ item.owner }}/{{ ssh_keys_sshdir }}/{{ item.dest | default(ssh_keys_public_key_filename) }}"
    owner: "{{ item.owner }}"
    group: "{{ item.group | default(item.owner) }}"
    mode: 0644
  with_items: ssh_keys_public_keys
  when: item.state is undefined or item.state == 'present'
  tags: [configuration, ssh-keys, ssh-keys-public-keys]

- name: remove public keys
  file:
    path: "~{{ item.owner }}/{{ ssh_keys_sshdir }}/{{ item.dest | default(ssh_keys_public_key_filename) }}"
    state: absent
  with_items: ssh_keys_public_keys
  when: item.state is defined and item.state == 'absent'
  tags: [configuration, ssh-keys, ssh-keys-public-keys]
